<h2>Create Your Profile</h2>

<div class="row">

  <div class="col-md-6">
      <!-- <%= form_for [current_user, @profile], url: user_profile_path do |f| %> -->
      <!-- modified form_for with html attrib for paperclip -->
    <%= form_for [current_user, @profile], url: user_profile_path, html: { multipart: true } do |f| %>

      <div class="form-group">
        <div class="field">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div>
      </div>

      <div class="form-group">
        <div class="field">
          <%= f.label :act %>
          <%= f.text_field :act, class: 'form-control', placeholder: "Name for your act or band (your name is fine here)" %>
        </div>
      </div>

      <div class="form-group">
        <div class="field">
          <%= f.label :bio %>
          <%= f.text_area :bio, rows: 10, class: 'form-control', placeholder: "Tell us a bit about yourself or your band."  %>
        </div>
      </div>

      <div class="form-group">
        <div class="field">
          <%= f.label :lat %>
          <%= f.number_field :lat, class: :text_field, step: :any, placeholder: "Enter latitude" %>
        </div>
      </div>

      <div class="form-group">
        <div class="field">
          <%= f.label :lng %>
          <%= f.number_field :lng, class: :text_field, step: :any, placeholder: "Enter longitude" %>
        </div>
      </div>

      <%= f.submit 'Save' %>

    <% end %>

  </div>
</div>
