<h2>Create Your Profile</h2>

<div class="row">

  <div class="col-md-6">
    <%= form_for [current_user, @profile], url: user_profile_path, html: { multipart: true } do |f| %>

      <div class="form-group">
        <div class="field">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div>
      </div>

      <div class="form-group">
        <div class="field">
          <%= f.label :act %>
          <%= f.text_field :act, class: 'form-control', placeholder: "Name for your act or band (your name is fine here)" %>
        </div>
      </div>

      <div class="form-group">
        <div class="field">
          <%= f.label :bio %>
          <%= f.text_area :bio, rows: 10, class: 'form-control', placeholder: "Tell us a bit about yourself or your band."  %>
        </div>
      </div>

      <label>Enter your location</label>
      <input type="text" name="location" id='geocode'>
      <div id="map"></div>

      <div class="geo-details">
        <%= f.hidden_field :lat, data: { geo: 'lat' } %>
        <%= f.hidden_field :lng, data: { geo: 'lng' } %>
        <%= f.hidden_field :formatted_address, data: { geo: 'formatted_address' } %>
      </div>


      <%= f.submit 'Save' %>

    <% end %>

  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places"></script>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js' %>
