<h2><%= @profile.act %></h2>

<div class="row">
  <div class="col-md-4">

    <% if current_user.profile.avatar.file? %>
      <%= image_tag current_user.profile.avatar.url(:medium) %>
    <% else %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <!-- <h3 class="panel-title">Add an Image to your Profile</h3> -->
          <%= link_to "TIP: Post an image to add interest to your profile. 'Edit Profile' to upload an image now.", edit_user_profile_path(current_user), class: 'panel-title' %>
        </div>
      </div>
    <% end %>
    <p></p>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Act / Busking Name</h3>
      </div>
      <div class="panel-body">
        <%= @profile.act %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About '<%= @profile.act %>'</h3>
      </div>
      <div class="panel-body">
        <%= @profile.bio %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Where to find '<%= @profile.act %>'</h3>
      </div>
      <div class="panel-body">
        <p><em>Latitude:</em> <%= @profile.lat %></p>
        <p><em>Longitude:</em> <%= @profile.lng %></p>
      </div>

      <div class="panel-body">
        <div id="map"></div>
      </div>

      </div>

  </div>

  <div class="col-md-2">
    <%= link_to "Edit Profile", edit_user_profile_path(current_user), class: 'btn btn-success' %>
  </div>
</div>


<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @profile.lat %>, lng: <%= @profile.lng %> },
      zoom: 10
    });
  }
</script>

<!-- Google Maps JavaScript  -->
<script defer src="//maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&v=3&callback=initMap"></script>

